<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8" />
        <title></title>
    </head>
    <body>

    <form action='hello' method='post'>
        <input type='text' name='name'>
        <select name='language'>
            <option value = 'english'>English</option>
            <option value = 'french'>French</option>
            <option value = 'german'>German</option>
            <option value = 'spanish'>Spanish</option>
            <option value = 'japanese'>Japanese</option>
            </select>
        <input type='submit' value='Greet me'>
        </form>

    </body>
    </html>